<div class="text-center bg-dark text-white shadow p-5">
    <h5>Welcome To Charts App</h5>
</div>

<div class="row mt-5">
    <div class="col-sm-6">
        <app-line-chart></app-line-chart>
    </div>
    <div class="col-sm-6">
        <app-pie-chart></app-pie-chart>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6">
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-sm-6">
        <app-doughnut-chart></app-doughnut-chart>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-6">
        <app-bubble-chart></app-bubble-chart>
    </div>
</div>